:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.cell {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
  resize: none;
  border: 1px solid #d0cfcf;
  position: relative;
  text-align: center;
}

.cell--unsolved {
  
}

.cell--solved {
  
  
}

.cell__options {
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #1a1a1a;
  font-size: 1rem;
  font-weight: bold;
}

.cell__options > span:nth-child(1) {
  color: #ff4d4d; /* Lighter Red */
}
.cell__options > span:nth-child(2) {
  color: #ffae42; /* Brighter Orange */
}
.cell__options > span:nth-child(3) {
  color: #ffea70; /* Soft Yellow */
}
.cell__options > span:nth-child(4) {
  color: #4cd964; /* Bright Green */
}
.cell__options > span:nth-child(5) {
  color: #5c85ff; /* Light Blue */
}
.cell__options > span:nth-child(6) {
  color: #b266ff; /* Softer Indigo */
}
.cell__options > span:nth-child(7) {
  color: #ff77ff; /* Bright Violet */
}
.cell__options > span:nth-child(8) {
  color: #d27f63; /* Warmer Brown */
}
.cell__options > span:nth-child(9) {
  color: #bfbfbf; /* Light Gray instead of Black */
}



.cell__input {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  color: inherit;
  top: 0;
  left: 0;
  font-size: 4rem;
}


.cell__input:read-only {
  background-color: #1a1a1a;
}

.cell:first-child {
  border-left: 3px solid white;
}
.cell:nth-of-type(3n) {
  border-right: 3px solid white;
}

.row:first-child {
  border-top: 3px solid white;
}
.row:nth-of-type(3n) {
  border-bottom: 3px solid white;
}